 <footer class="bg-gray-800 py-8">
            <div class="container mx-auto text-center text-gray-400">
                <p>&copy; 2025 eSport Arena. Tous droits réservés.</p>
                <div class="flex justify-center mt-4">
                    <a href="#" class="mx-4 hover:text-white">Facebook</a>
                    <a href="#" class="mx-4 hover:text-white">Twitter</a>
                    <a href="#" class="mx-4 hover:text-white">Instagram</a>
                </div>
            </div>
        </footer>