<header class="bg-gray-900 p-8 text-white ">
    <nav class="max-w-7xl mx-auto px-4 flex justify-between items-center">
        <div class="text-2xl font-bold">eSport Arena</div>
        <ul class="flex space-x-10"> 
            <li><a href="/support" class="hover:text-blue-400 p-8">Support</a></li>
            <li><a href="/about" class="hover:text-blue-400 p-8">Qui sommes-nous</a></li>
            <li><a href="/games" class="hover:text-blue-400 p-8">Jeux</a></li>
        </ul>
    </nav>
</header>

