<!DOCTYPE html>
<html lang="fr">
<head>
    {% block title %}{% endblock %}
   {% block style %}
    <link rel="stylesheet" href="assets/css/output.css">
{% endblock %}

</head>


    {% block header %}
        {% include 'partials/header.twig' %}
    {% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}
        {% include 'partials/footer.twig' %}
    {% endblock %}

    {% block script %}{% endblock %}
</body>
</html>
